*{
    margin: 0;
    padding: 0;
  }
  html, body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(161, 4, 161);
    font-family: "Arial";
  }
  #page1{
    height: 100vh;
    width: 100%;
  }

  #loader {
    height: 100vh;
    width: 100%;
    background-color: #222;
    color: white;
    z-index: 99;
    font-size: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

  nav{
    height: 5vw;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
  }
  #part1{
    padding: 2vw;
  }
  #part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  #part2 a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5vw;
  }
  #part3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 2vw;
    color:white;
  }
  #part3 button{
    height: 2vw;
    width: 4vw;
    font-size: 1vw;
    border-radius: 10vw;
  }
  #main{
    height: 88vh;
    width: 100%;
  }
  #main h1{
    color: aliceblue;
    font-size: 7vw;
    line-height: 7vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    z-index: 99;
    letter-spacing: -.02em;
  }
  #main h1 span{
    font-size: 2vw;
    line-height: 2vw;
    background-color: #04bf2d;
    color: aliceblue;
    border-radius: 10vw;
    padding: 2vw;
    z-index: 99;
    letter-spacing: -.02;
  }
  #left-img{
    height: 20vw;
    width: 15vw;
    object-fit: cover;
    position: absolute;
    top: 14%;
    left: 10%;
    border-radius: 2vw;
  }
  #top-img{
    height: 15vw;
    width: 20vw;
    object-fit: cover;
    position: absolute;
    right: 15%;
    top: 15%;
    border-radius: 10vw;
  }
  #bottom-img{
    height: 15vw;
    width: 25vw;
    position: absolute;
    object-fit: cover;
    bottom: 5%;
    left: 25%;
    border-radius: 10vw;
  }
  #right-img{
    height: 18vw;
    width: 12vw;
    position: absolute;
    object-fit: cover;
    right: 10%;
    border-radius: 2vw;
  }
  #page2{
    height: 100vh;
    width: 100%;
  
  }
  #page2part1{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  #page2part1 img{
    height: 20vh;
    height: 15vw;
    object-fit: cover;
    border-radius: 2vw;
  }
  #page2part2 {
    height: 35vh;
    width: 100%;
  }
  #page2part2 h1{
    padding: 2vw;
  }
  #page2part2 h1 span{
    display: inline-block;
    font-size: 12vw;
    font-size: 100;
    left: 2vw;
    font-weight: 400;
    letter-spacing: 0.005em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#f79090,#218b7b);
  }